<?xml version="1.0"?>
<!-- Note: This launch file is used to test the URDF and Meshes
     PLEASE - DO NOT launch this while networked against
     a real Baxter robot. It will crash the onboard
     robot_state_publisher, and you will need to reboot
     your robot for it to function properly again -->

<launch>
  <!-- send robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find
                                           baxter_force_control)/urdf/baxter_box.urdf.xacro"/>

  <!-- open joint_state_pub in case we want joint_position_control -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
    <remap from="joint_states" to="box_joint_vel_sim/joint_states/pos" />
  </node>

  <!-- Open the realy node which takes partially filled JointState messages and fills in the rest -->
  <node name="box_joint_vel_sim" pkg="baxter_force_control" type="box_joint_vel_sim.py">
    <param name="vel_control" value="false" />
  </node>

  <!-- Open the realy node which takes partially filled JointState messages and fills in the rest -->
  <node name="human_grip_publisher" pkg="tf_publisher_gui" type="tf_publisher_gui">
    <param name="topic" value="box/human_grip" />
    <param name="frame" value="l_gripper_l_finger" />
    <param name="x_max" value="1.2" />
    <param name="x_min" value="-1.2" />
    <param name="y_max" value="1.2" />
    <param name="y_min" value="-1.2" />
    <param name="z_max" value="1.2" />
    <param name="z_min" value="-1.2" />
    <param name="x_zero" value="1.2" />
    <param name="y_zero" value="0.0" />
    <param name="y_zero" value="0.0" />

  </node>

  <!-- Link the robot state publisher to the output of the relay node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"> 
    <remap from="joint_states" to="robot/joint_states" />
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find baxter_force_control)/launch/baxter_box.rviz"/>

  <!-- Fake transform from world origin to robot origin (base) -->
  <node pkg="tf" type="static_transform_publisher" name="$(anon tf)" args="0 0 0 0 0 0 /world /base 30" />

</launch>
